@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body, input {
    font-family: 'Inconsolata', monospace;
    word-break: break-all;
}

input, button, textarea {
    padding: 6px 12px;
    margin-bottom: 1rem;
}

input[type="text"], input[type="password"], textarea {
    width: 100%;
    box-sizing: border-box;
}

input[type="checkbox"] {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

img {
    vertical-align: bottom;
}

label {
    vertical-align: top;
}

.container {
    width: 60%;
    max-width: 40rem;
    margin: 0 auto;
}

.header {
    display: flex;
}

.navbar {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.2em;
}

.navbar a {
    color: black;
}

.navbar a:hover {
    text-decoration: underline;
}

.error {
    background: #f29fbf;
    border: 2px solid #ef77a6;
    margin-bottom: 1rem;
    padding: 1rem;
}

.hidden {
    display: none;
}

#stargazers {
    display: flex;
}

.star {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 2px;
    border: 1px dotted grey;
    border-radius: 10px;
    color: dimgrey;
    text-align: center;
    cursor: pointer;
}

.star-img {
    display: block;
    position: absolute;
    right: -2px;
    bottom: -2px;
    width: 10px;
    height: 10px;
}

#starmenu {
    background: white;
    border: 2px solid black;
    padding: 4px 6px;
    cursor: pointer;
}

.highlight {
    background: yellow;
}

/* https://csshtml.work/rainbow/ */
.rainbow {
    background: linear-gradient(to right,#e60000,#f39800,#fff100,#009944,#0068b7,#1d2088,#920783);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}